:root {
  --rise-light-green: rgba(167, 192, 192, 1);
  --fern-green: rgba(58, 125, 68, 1);
  --minion: rgba(244, 224, 77, 1);
  --ebbc-9c: rgba(25, 123, 189, 1);
  --x-19-7bbd: rgba(231, 90, 124, 1);
  --primaryrise-green: rgba(36, 97, 97, 1);
  --primaryrise-yellow: rgba(243, 204, 79, 1);
  --primaryrise-dark-blue: rgba(54, 87, 135, 1);
  --primaryrise-white: rgba(255, 255, 255, 1);
  --primaryrise-black: rgba(0, 0, 0, 1);
  --secondarydanger: rgba(224, 45, 60, 1);
  --secondarypink: rgba(198, 65, 87, 1);
  --secondarypurple: rgba(104, 30, 64, 1);
  --secondarypeach: rgba(235, 188, 156, 1);
  --secondaryrise-blue: rgba(17, 72, 157, 1);
  --secondarydark-blue: rgba(27, 57, 100, 1);
  --secondaryrise-light-blue: rgba(195, 205, 219, 1);
  --buttonprimary: rgba(36, 97, 97, 1);
  --buttonsecondary: rgba(54, 87, 135, 1);
  --buttonwarning: rgba(243, 204, 79, 1);
  --buttondanger: rgba(158, 16, 23, 1);
  --stroke: rgba(213, 212, 223, 1);
  --inactive: rgba(242, 243, 247, 1);
  --hover: rgba(233, 240, 245, 1);
  --active: rgba(69, 83, 157, 1);
  --h1-font-family: "Inter-Bold", Helvetica;
  --h1-font-weight: 700;
  --h1-font-size: 24px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 150%;
  --h1-font-style: normal;
  --h2-font-family: "Inter-Bold", Helvetica;
  --h2-font-weight: 700;
  --h2-font-size: 20px;
  --h2-letter-spacing: 0px;
  --h2-line-height: 150%;
  --h2-font-style: normal;
  --body-font-family: "Inter-Regular", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: 150%;
  --body-font-style: normal;
  --table-text-inactive-font-family: "Inter-Regular", Helvetica;
  --table-text-inactive-font-weight: 400;
  --table-text-inactive-font-size: 14px;
  --table-text-inactive-letter-spacing: 0px;
  --table-text-inactive-line-height: 150%;
  --table-text-inactive-font-style: normal;
  --table-text-active-font-family: "Inter-Regular", Helvetica;
  --table-text-active-font-weight: 400;
  --table-text-active-font-size: 14px;
  --table-text-active-letter-spacing: 0px;
  --table-text-active-line-height: 150%;
  --table-text-active-font-style: normal;
  --table-text-primary-font-family: "Inter-Medium", Helvetica;
  --table-text-primary-font-weight: 500;
  --table-text-primary-font-size: 14px;
  --table-text-primary-letter-spacing: 0px;
  --table-text-primary-line-height: 150%;
  --table-text-primary-font-style: normal;
  --table-text-title-font-family: "Inter-Bold", Helvetica;
  --table-text-title-font-weight: 700;
  --table-text-title-font-size: 14px;
  --table-text-title-letter-spacing: 0px;
  --table-text-title-line-height: 150%;
  --table-text-title-font-style: normal;
  --project-title-font-family: "Inter-Regular", Helvetica;
  --project-title-font-weight: 400;
  --project-title-font-size: 24px;
  --project-title-letter-spacing: 0px;
  --project-title-line-height: 150%;
  --project-title-font-style: normal;
  --button-text-font-family: "Inter-Regular", Helvetica;
  --button-text-font-weight: 400;
  --button-text-font-size: 14px;
  --button-text-letter-spacing: 0px;
  --button-text-line-height: 150%;
  --button-text-font-style: normal;
  --field-label-font-family: "Inter-Italic", Helvetica;
  --field-label-font-weight: 400;
  --field-label-font-size: 16px;
  --field-label-letter-spacing: 0px;
  --field-label-line-height: 150%;
  --field-label-font-style: italic;
  --RISE-h1-font-family: "AvenirNext LT Pro-Bold", Helvetica;
  --RISE-h1-font-weight: 700;
  --RISE-h1-font-size: 67.33999633789062px;
  --RISE-h1-letter-spacing: 0px;
  --RISE-h1-line-height: 129.99999523162842%;
  --RISE-h1-font-style: normal;
  --rise-h2-font-family: "AvenirNext LT Pro-Bold", Helvetica;
  --rise-h2-font-weight: 700;
  --rise-h2-font-size: 50.52000045776367px;
  --rise-h2-letter-spacing: 0px;
  --rise-h2-line-height: 129.99999523162842%;
  --rise-h2-font-style: normal;
  --RISE-h3-font-family: "AvenirNext LT Pro-Bold", Helvetica;
  --RISE-h3-font-weight: 700;
  --RISE-h3-font-size: 37.900001525878906px;
  --RISE-h3-letter-spacing: 0px;
  --RISE-h3-line-height: 129.99999523162842%;
  --RISE-h3-font-style: normal;
  --RISE-body-font-family: "AvenirNext LT Pro-Regular", Helvetica;
  --RISE-body-font-weight: 400;
  --RISE-body-font-size: 16px;
  --RISE-body-letter-spacing: 0px;
  --RISE-body-line-height: 150%;
  --RISE-body-font-style: normal;
  --RISE-h4-font-family: "AvenirNext LT Pro-Bold", Helvetica;
  --RISE-h4-font-weight: 700;
  --RISE-h4-font-size: 28.43000030517578px;
  --RISE-h4-letter-spacing: 0px;
  --RISE-h4-line-height: 129.99999523162842%;
  --RISE-h4-font-style: normal;
  --RISE-button-font-family: "AvenirNext LT Pro-Bold", Helvetica;
  --RISE-button-font-weight: 700;
  --RISE-button-font-size: 16px;
  --RISE-button-letter-spacing: 0px;
  --RISE-button-line-height: 100%;
  --RISE-button-font-style: normal;
  --RISE-caption-font-family: "AvenirNext LT Pro-Regular", Helvetica;
  --RISE-caption-font-weight: 400;
  --RISE-caption-font-size: 12px;
  --RISE-caption-letter-spacing: 0px;
  --RISE-caption-line-height: 100%;
  --RISE-caption-font-style: normal;
  --RISE-h5-font-family: "AvenirNext LT Pro-Bold", Helvetica;
  --RISE-h5-font-weight: 700;
  --RISE-h5-font-size: 21.329999923706055px;
  --RISE-h5-letter-spacing: 0px;
  --RISE-h5-line-height: 150%;
  --RISE-h5-font-style: normal;
  --RISE-body-bold-font-family: "AvenirNext LT Pro-Bold", Helvetica;
  --RISE-body-bold-font-weight: 700;
  --RISE-body-bold-font-size: 16px;
  --RISE-body-bold-letter-spacing: 0px;
  --RISE-body-bold-line-height: 150%;
  --RISE-body-bold-font-style: normal;
  --RISE-body-smal-font-family: "AvenirNext LT Pro-Regular", Helvetica;
  --RISE-body-smal-font-weight: 400;
  --RISE-body-smal-font-size: 14px;
  --RISE-body-smal-letter-spacing: 0px;
  --RISE-body-smal-line-height: 150%;
  --RISE-body-smal-font-style: normal;
  --RISE-body-italic-font-family: "AvenirNext LT Pro-Italic", Helvetica;
  --RISE-body-italic-font-weight: 400;
  --RISE-body-italic-font-size: 16px;
  --RISE-body-italic-letter-spacing: 0px;
  --RISE-body-italic-line-height: 150%;
  --RISE-body-italic-font-style: italic;
  --RISE-subheading-1-font-family: "AvenirNext LT Pro-Regular", Helvetica;
  --RISE-subheading-1-font-weight: 400;
  --RISE-subheading-1-font-size: 28.43000030517578px;
  --RISE-subheading-1-letter-spacing: 0px;
  --RISE-subheading-1-line-height: 150%;
  --RISE-subheading-1-font-style: normal;
  --RISE-subheading-2-font-family: "AvenirNext LT Pro-Regular", Helvetica;
  --RISE-subheading-2-font-weight: 400;
  --RISE-subheading-2-font-size: 21.329999923706055px;
  --RISE-subheading-2-letter-spacing: 0px;
  --RISE-subheading-2-line-height: 150%;
  --RISE-subheading-2-font-style: normal;
  --RISE-background-shadow: 0px 0px 24px 0px rgba(54, 87, 135, 0.24);
  --RISE-card-shadows: 0px 4px 24px 0px rgba(36, 97, 97, 0.16);
  --RISE-inner-shadow: ;
}
